In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib as mpl
from tqdm import tqdm
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
! bzcat /home/dsc/Data/challenge/searches.csv.bz2 | wc -l

20390198

In [3]:
df = pd.read_csv('/home/dsc/Data/challenge/searches.csv.bz2', sep='^', usecols=['Date', 'Destination'], nrows=10000)

In [4]:
np.random.randint(1, 2, (2,2))

array([[1, 1],
       [1, 1]])

In [5]:
df

            Date Destination
0     2013-01-01         AUH
1     2013-01-01         MIL
2     2013-01-01         SFO
3     2013-01-01         ARN
4     2013-01-01         MAD
5     2013-01-01         BLR
6     2013-01-01         PAR
7     2013-01-01         DUB
8     2013-01-01         ACE
9     2013-01-01         BGW
10    2013-01-01         BUD
11    2013-01-01         POA
12    2013-01-01         MXP
13    2013-01-01         LON
14    2013-01-01         SNN
15    2013-01-01         SLZ
16    2013-01-01         PHL
17    2013-01-01         GRU
18    2013-01-01         IKT
19    2013-01-01         HKG
20    2013-01-01         SEA
21    2013-01-01         STN
22    2013-01-01         FUE
23    2013-01-01         IST
24    2013-01-01         VIE
25    2013-01-01         SAO
26    2013-01-01         BRI
27    2013-01-01         JED
28    2013-01-01         CPH
29    2013-01-01         DRS
...          ...         ...
9970  2013-01-10         VIE
9971  2013-01-10         VIE
9972  2013-01-10         TUN
9973  2013-01-10         GLA
9974  2013-01-10         STR
9975  2013-01-10         LAX
9976  2013-01-10         GYD
9977  2013-01-10         BGJ
9978  2013-01-10         SDF
9979  2013-01-10         MLA
9980  2013-01-10         LAX
9981  2013-01-10         UIO
9982  2013-01-10         DXB
9983  2013-01-10         PUJ
9984  2013-01-10         OPO
9985  2013-01-10         HAM
9986  2013-01-10         VLI
9987  2013-01-10         LON
9988  2013-01-10         ROM
9989  2013-01-10         INN
9990  2013-01-10         LHR
9991  2013-01-10         WDH
9992  2013-01-10         MUC
9993  2013-01-10         BFN
9994  2013-01-10         MIL
9995  2013-01-10         LAX
9996  2013-01-10         REC
9997  2013-01-10         PEK
9998  2013-01-10         PAR
9999  2013-01-10         CUN

[10000 rows x 2 columns]

In [6]:
df['Date'] = pd.to_datetime(df['Date'])

In [7]:
df.set_index('Date', inplace=True)

In [8]:
df.index.month

Int64Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            ...
            1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
           dtype='int64', name='Date', length=10000)

In [9]:
df.dtypes

Destination    object
dtype: object

In [10]:
s = pd.read_csv('/home/dsc/Data/challenge/searches.csv.bz2', sep='^', usecols=['Date', 'Destination'], nrows=10000)

In [11]:
s.dtypes

Date           object
Destination    object
dtype: object

In [12]:
s['Date'].apply(lambda x: x[:7])

0       2013-01
1       2013-01
2       2013-01
3       2013-01
4       2013-01
5       2013-01
6       2013-01
7       2013-01
8       2013-01
9       2013-01
10      2013-01
11      2013-01
12      2013-01
13      2013-01
14      2013-01
15      2013-01
16      2013-01
17      2013-01
18      2013-01
19      2013-01
20      2013-01
21      2013-01
22      2013-01
23      2013-01
24      2013-01
25      2013-01
26      2013-01
27      2013-01
28      2013-01
29      2013-01
         ...
9970    2013-01
9971    2013-01
9972    2013-01
9973    2013-01
9974    2013-01
9975    2013-01
9976    2013-01
9977    2013-01
9978    2013-01
9979    2013-01
9980    2013-01
9981    2013-01
9982    2013-01
9983    2013-01
9984    2013-01
9985    2013-01
9986    2013-01
9987    2013-01
9988    2013-01
9989    2013-01
9990    2013-01
9991    2013-01
9992    2013-01
9993    2013-01
9994    2013-01
9995    2013-01
9996    2013-01
9997    2013-01
9998    2013-01
9999    2013-01
Name: Date, Length: 10000, dtype: object