In [2]:
import pandas as pd
import numpy as np
import random
import matplotlib as mpl
from tqdm import tqdm
from matplotlib import pyplot as plt
%matplotlib inline

In [ ]:
#1

In [3]:
df = pd.read_csv('/home/dsc/Data/challenge/bookings.csv.bz2', sep='^', nrows=10000)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 38 columns):
act_date               10000 non-null object
source                 10000 non-null object
pos_ctry               10000 non-null object
pos_iata               10000 non-null object
pos_oid                10000 non-null object
rloc                   10000 non-null object
cre_date               10000 non-null object
duration               10000 non-null int64
distance               10000 non-null int64
dep_port               10000 non-null object
dep_city               10000 non-null object
dep_ctry               10000 non-null object
arr_port               10000 non-null object
arr_city               10000 non-null object
arr_ctry               10000 non-null object
lst_port               10000 non-null object
lst_city               10000 non-null object
lst_ctry               10000 non-null object
brd_port               10000 non-null object
brd_city               10000 non-null object
brd_ctry               10000 non-null object
off_port               10000 non-null object
off_city               10000 non-null object
off_ctry               10000 non-null object
mkt_port               10000 non-null object
mkt_city               10000 non-null object
mkt_ctry               10000 non-null object
intl                   10000 non-null int64
route                  10000 non-null object
carrier                10000 non-null object
bkg_class              10000 non-null object
cab_class              10000 non-null object
brd_time               10000 non-null object
off_time               10000 non-null object
pax                    10000 non-null int64
year                   10000 non-null int64
month                  10000 non-null int64
oid                    10000 non-null object
dtypes: int64(6), object(32)
memory usage: 2.9+ MB

In [10]:
df.shape

(10000, 38)

In [17]:
df.duplicated().any()

False

In [8]:
df_2 = df.drop_duplicates()

In [9]:
df_2.shape

(10000, 38)

In [ ]:
#3

In [21]:
df_3 = pd.read_csv('/home/dsc/Data/challenge/searches.csv.bz2', sep='^', usecols=['Date', 'Origin', 'Destination'], nrows=10000)

In [22]:
df_3

            Date Origin Destination
0     2013-01-01    TXL         AUH
1     2013-01-01    ATH         MIL
2     2013-01-01    ICT         SFO
3     2013-01-01    RNB         ARN
4     2013-01-01    OSL         MAD
5     2013-01-01    IAH         BLR
6     2013-01-01    CPH         PAR
7     2013-01-01    PAR         DUB
8     2013-01-01    DUS         ACE
9     2013-01-01    FRA         BGW
10    2013-01-01    PAR         BUD
11    2013-01-01    RIO         POA
12    2013-01-01    HKG         MXP
13    2013-01-01    BCN         LON
14    2013-01-01    CLE         SNN
15    2013-01-01    BSB         SLZ
16    2013-01-01    PEK         PHL
17    2013-01-01    BOS         GRU
18    2013-01-01    TBS         IKT
19    2013-01-01    LON         HKG
20    2013-01-01    MAD         SEA
21    2013-01-01    DUS         STN
22    2013-01-01    PAD         FUE
23    2013-01-01    DUS         IST
24    2013-01-01    BHX         VIE
25    2013-01-01    CGB         SAO
26    2013-01-01    ZRH         BRI
27    2013-01-01    RUH         JED
28    2013-01-01    UME         CPH
29    2013-01-01    FRA         DRS
...          ...    ...         ...
9970  2013-01-10    DUS         VIE
9971  2013-01-10    ICN         VIE
9972  2013-01-10    PAR         TUN
9973  2013-01-10    LBA         GLA
9974  2013-01-10    VIE         STR
9975  2013-01-10    YVR         LAX
9976  2013-01-10    KBP         GYD
9977  2013-01-10    OSL         BGJ
9978  2013-01-10    MLI         SDF
9979  2013-01-10    MIA         MLA
9980  2013-01-10    BKK         LAX
9981  2013-01-10    NYC         UIO
9982  2013-01-10    LGW         DXB
9983  2013-01-10    SDF         PUJ
9984  2013-01-10    GRU         OPO
9985  2013-01-10    BHX         HAM
9986  2013-01-10    IVC         VLI
9987  2013-01-10    ATH         LON
9988  2013-01-10    YYC         ROM
9989  2013-01-10    DUS         INN
9990  2013-01-10    CPH         LHR
9991  2013-01-10    HAM         WDH
9992  2013-01-10    OPO         MUC
9993  2013-01-10    CPT         BFN
9994  2013-01-10    ORD         MIL
9995  2013-01-10    BJX         LAX
9996  2013-01-10    GRU         REC
9997  2013-01-10    FRA         PEK
9998  2013-01-10    ROM         PAR
9999  2013-01-10    MAD         CUN

[10000 rows x 3 columns]